body {
  padding-top: 54px;
}

@media (min-width: 992px) {
  body {
    padding-top: 56px;
  }
}

.p {
	color: black;
	font-size: larger;
    font-style: italic;
    text-align: center;
    background-color: black;
}
